body {
    margin: 0;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #2C2F33;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

hr {
    background-color: #99aab5;
    border-color: #99aab5;
}

button:focus {
    outline: 0;   
}

select:focus {
    outline: 0;   
}

::selection {
    color: white;
}

::-webkit-scrollbar { width: 0 !important }

.shadow {
    -webkit-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
}

button.main {
    text-decoration: none;
    background-color: #7289DA;
    font-size: 1.75em;
    cursor: pointer;
    border: none;
    border-radius: .3em;
    padding: .5em 2em .5em 2em;
    color: white;
    transition: 0.15s ease all;
}

button.main:hover {
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
}

.navbar {
    padding-top: 0.2em;
    background-color: #2C2F33;
    position: fixed;
    z-index: 1;
}

.navbar .loader {
    height: 5px;
    background-color: #99aab5;
    width: 0%;
    transition: 0.15s ease width;
}

.navbar hr {
    border-color: #99aab5;
    margin: 0;
}

.navbar ul {
    color: #99aab5;
    list-style: none;
    padding: 0;
    display: inline-flex;
    width: 100vw;
    min-height: 50px;
}

.navbar ul li {
    display: inherit;
    margin-right: 0.4em;
}

.navbar ul li:first-child {
    padding-left: 1.5em;
}

.navbar ul li:first-child button svg {
    height: 2em;
    width: auto;
    position: relative;
    bottom: 5px;
}

.navbar ul li:last-child {
    margin-left: auto;
    margin-right: 1.5em;
    position: relative;
    transition: 0.15s all ease-in-out;
}

.navbar ul li:last-child button {
    z-index: 2;
}

.navbar ul li:last-child button i {
    font-size: .75em;
    margin-left: .5em;
}

.navbar ul li:last-child button.menuButton:active {
    background-color: #1D1E1F;
}

.navbar ul li:last-child.hover {
    transform: translate(0px, -2px);
}

.navbar ul li:last-child img {
    height: 2em;
    float: left;
    margin-right: 0.3em;
    border-radius: 50%;
}

.navbar ul.dropdown {
    display: none;
    position: absolute;
    width: auto;
    padding-top: 3em;
    background-color: #1D1E1F;
    right: 0;
    left: 0;
    text-align: center;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease-in;
}

.navbar ul.dropdown.active {
    display: list-item;
    max-height: 100vh;
}

.navbar ul.dropdown li {
    padding: 0;
    margin: 0;
}

.navbar ul.dropdown li button {
    width: 100%;
    transition: 0.15s all ease-in-out;
    font-size: .9em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.navbar ul.dropdown li button:hover {
    background-color: #99aab5;
    color: #1D1E1F;
}

.navbar ul.dropdown li:last-child {
    margin-bottom: 0.6em;
    color: #dc322f
}

.navbar ul.dropdown li:last-child button:hover {
    background-color: #dc322f;
    color: #1D1E1F;
}

.navbar ul.dropdown li hr {
    display: none;
}

.navbar ul.dropdown li:last-child hr {
    display: inherit;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    width: 30%;
    background-color: #99aab5
}

.navbar ul li button {
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 1.2em;
    cursor: pointer;
    display: inherit;
    align-items: center;
}

#snackbar {
    position: fixed;
    width: 90%;
    left: 5%;
    bottom: -1em;
    height: 5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#snackbar i {
    font-size: 3em;
    position: absolute;
    top: .2em;
    left: .2em;
    text-shadow: 0px 2px 12px rgba(0, 0, 0, .69);
}

#snackbar button {
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: .5em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 2em;
}

#snackbar h1 {
    width: fit-content;
    margin: 0;
    position: relative;
    bottom: .25em;
}

#snackbar p {
    margin-bottom: .8em;
    font-size: 1.5em;
    margin-left: 1em;
    position: relative;
    bottom: .25em;
    line-height: .9em;
}

#snackbar.default {
    background-color: #1D1E1F;
}

#snackbar.default.warning {
    background-color: #cb4b16;
}

#snackbar.default.error {
    background-color: #dc322f;
}

#content {
    position: relative;
    bottom: -5.5em;
    left: 0;
    top: auto;
    width: inherit;
    height: calc(100vh - 5.5em);
}

#dashboard {
    height: inherit;
    width: inherit;
}

#dashboardPanel {
    height: inherit;
    width: inherit;
    position: absolute;
    top: -.1em;
    background-color: #2C2F33;
    border-color: #99aab5;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    overflow: hidden;
}

#dashboardMenu {
    height: 100%;
    width: 20vw;
    display: inline-block;
    text-align: center;
    border-right-style: solid;
    border-color: inherit;
    border-width: 1px;
    overflow: auto;
}

#dashboardMenu .profile {
    position: relative;
    width: inherit;
    margin-top: 3em;
}

#dashboardMenu .view {
    position: relative;
    width: 75%;
    margin: auto;
    margin-top: 3em;
}

#dashboardMenu .view h3 {
    margin: 0;
    font-size: 1.5em;
    color: #99aab5;
    background-color: #1D1E1F;
    padding-top: .25em;
    padding-bottom: .25em;
    cursor: pointer;
    transition: .15s ease color;
}

#dashboardMenu .view h3 i {
    position: absolute;
    left: 0;
    right: 6em;
    margin-top: .2em;
}

#dashboardMenu .view h3:hover {
    color: white;
}

#dashboardMenu .view div ul {
    list-style: none;
    padding: 0;
    margin: auto;
    opacity: 1;
    overflow: hidden;
    transition: .5s ease opacity, .5s ease max-height;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #99aab5;
}

#dashboardMenu .view div ul li {
    font-size: 1.5em;
    padding-top: .5em;
    margin: auto;
    color: #99aab5;
    /* background-color: #1D1E1F; */
    padding-bottom: .5em;
    border-bottom-width: 1px;
    cursor: pointer;
    transition: .15s ease color, .15s ease background-color;
}

#dashboardMenu .view div ul li.active,#dashboardMenu .view h3.active,#dashboardMenu .view div ul li:hover {
    color: white;
}

#dashboardMenu .profile img {
    height: 6em;
    margin: auto;
    display: block;
}

#dashboardMenu .profile h1 {
    width: 100%;
    color: white;
    font-size: 2vw;
}

#dashboardMenu .profile h3 {
    color: white;
    font-size: 2em;
    margin-top: .5em;
}


#dashboardMenu .profile button.main {
    font-size: 1.25em;
}

#dashboardSettings {
    height: 100%;
    width: 80vw;
    display: inline-block;
    position: absolute;
    border-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1px;
    background-color: inherit;
    z-index: 1;
}

#dashboardSettings h1 {
    display: inherit;
    margin: 0;
    position: relative;
    width: inherit;
    text-align: center;
    color: white;
    font-size: 2.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: inherit;
    height: 1.5em;
}

#schedulerViews {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80vw;
    right: 0;
    border-color: inherit;
    display: inline-block;
}

#schedulerViews h1 {
    display: inherit;
    margin: 0;
    position: relative;
    width: inherit;
    text-align: center;
    color: white;
    font-size: 2.5em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: inherit;
    height: 1.5em;
}

#schedulerViews .main {
    height: 100%;
    width: 80vw;
    display: inline-block;
    position: absolute;
    border-color: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1px;
}

#dashboardEvents {
    top: 100%;
    margin-top: 50px;
}

#dashboardShards {
    top: 100%;
    margin-top: 50px;
}

#dashboardScheduler hr {
    margin: 0;
}

#calendarDays {
    text-align: center;
    width: 90%;
    margin: auto;
    color: white;
    border-bottom-width: 1px;
    border-color: inherit;
    margin-top: .25em;
    margin-bottom: .25em;
}

#calendarDays .day {
    display: inline-block;
    width: calc(100% / 7);
    font-size: 1.2em;
}

#calendarContainer {
    width: 90%;
    margin: auto;
    height: calc(100% - 6em);
    overflow: auto;
    scrollbar-width: none;
}

#dashboardScheduler table {
    width: 100%;
    color: white;
    position: relative;
    max-height: inherit;
    overflow: hidden;
}

#dashboardScheduler .block {
    position: absolute;
}

#dashboardScheduler .connector {
    height: .5vw;
    position: absolute;
    top: 3.5vw;
    z-index: 1;
    width: 100vw;
}

#dashboardScheduler table td {
    border-style: solid;
    border-color: #99aab5;
    border-width: 1px;
    position: relative;
}

#dashboardScheduler table td:first-child {
    left: 0px!important;
}

#dashboardScheduler table td div {
    height: 8vw;
    width: 100%;
    position: relative;
}

#dashboardScheduler table tr td div h3 {
    color: #99aab5;
    margin: 0;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1em;
    position: absolute;
    z-index: 1;
}

#dashboardScheduler table tr td div {
    background-color: #1D1E1F;
}

#dashboardScheduler table tr td div.active {
    background-color: #2C2F33;
}

#dashboardScheduler table tr td div.active h3 {
    color: white;
    font-weight: bold;
}

#dashboardScheduler table tr td div.today {
    background-color: #7289DA;
    color: white;
    font-weight: bold;
}

#dashboardScheduler table tr td div.today h3 {
    color: white;
}

#dashboardScheduler .days {
    position: relative;
    display: inline-block;
    top: 2vh;
    color: white;
    width: calc(80vw * .1417);
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #99aab5;
}

#setupPanel {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    background-color: #2C2F33;
    text-align: center;
}

#setupContainer {
    width: 50%;
    height: inherit;
    margin: auto;
}

#setupPanel h1 {
    color: #7289DA;
    font-size: 4em;
    margin-bottom: 0;
}

#setupPanel h2 {
    color: #99aab5;
    font-size: 2em;
    margin-top: 0;
    font-weight: normal;
}

#setupPanel p {
    font-size: 1.5em;
    margin: auto;
    color: #99aab5;
}

#setupPanel p.permissions {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 2em;
    margin-left: 2em;
}

#setupPanel img {
    width: 14em;
    display: inline-block;
}

.fixList {
    width: fit-content;
    text-align: left;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #99aab5;
    list-style: none;
}

.setup-options {
    list-style: none;
    padding: 0;
    min-height: 10em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setup-options li {
    color: #99aab5;
    display: inline-block;
    margin: 1em .5em 1em .5em;
}

.setup-options li button,select {
    text-decoration: none;
    background: #2C2F33;
    color: inherit;
    cursor: pointer;
    width: max-content;
    padding: 5px 10px 5px 10px;
    border-color: #99aab5;
    border-style: solid;
    border-width: 1px;
    border-radius: .3em;
    font-size: 1.3em;
    -moz-appearance: none;
    appearance: none;
    transition: 0.15s ease all;
}

.setup-options li button i {
    top: 1px;
    position: relative;
    margin-right: .5em;
}

.setup-options li button:hover,select:hover {
    background-color: #99aab5;
    color: #1D1E1F;
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
}

.setup-options li select > option {
    background: #2C2F33!important;
    box-shadow: 0 0 10px 100px #fff inset;
    color: #99aab5;
}

.setup-buttons {
    margin-top: 2em;
}

.setup-buttons button:first-child {
    margin-right: 1em;
}

.setup-buttons button:last-child {
    margin-left: 1em;
}

#serverToolbar {
    text-align: center;
    color: white;
    padding-bottom: 1em;
    padding-top: 4em;
    width: inherit;
}

#serverToolbar h1 {
    width: max-content;
    margin: auto;
    color: #99aab5;
    font-size: 3em;
}

#serverToolbar h3 {
    margin: 0;
    text-align: right;
    margin-right: 2vw;
    width: max-content;
    margin-left: auto;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .switch input {
    display:none;
  }

  #serverToolbar .container {
    display: inline-block;
    position: absolute;
    right: 9em;
    top: 5.5em;
  }

  .container p {
    color: #99aab5;
    display: inherit;
    margin: 0;
    text-align: unset;
    position: absolute;
    top: 5px;
    transition: .5s ease color;
  }

  .container p.active {
      color: white;
  }
  
  .slider {
    background-color: #1D1E1F;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    -webkit-box-shadow: inset 0px 6px 12px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: inset 0px 6px 12px -2px rgba(0,0,0,0.69);
    box-shadow: inset 0px 6px 12px -2px rgba(0,0,0,0.69);
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    -webkit-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 6px 12px -2px rgba(0,0,0,0.69);
  }
  
  input:checked + .slider {
    background-color: #99aab6;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


.serverList {
    width: inherit;
    text-align: center;
    margin-top: 5.5em;
    margin: 0;
    padding: 0;
    display: block;
}

.serverList .serverCard {
    color: white;
    display: inline-block;
    height: 53vw;
    width: 40vw;
    max-height: 17rem;
    max-width: 14rem;
    margin: 1em;
    border-width: 2px;
    border-color: #99aab5;
    border-radius: 10px;
    border-style: solid;
    overflow: hidden;
    transition: box-shadow 0.15s ease;
}

.serverList .serverCard button {
    text-decoration: none;
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
    align-items: center;
    width: 100%;
    padding: 0;
}

.serverList .serverCard button h1 {
    padding-top: .5em;
    font-size: 8em;
    font-weight: normal;
    margin: 0;
    word-break: break-all;
    line-height: 1em;
}

.serverList .serverCard button h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #99aab5;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 1em;
    padding-top: calc(100% + 1em);
}


.serverList .serverCard button img {
    width: 100%;
}