<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <!--<script src="?js/gemini.js"></script>
    <link href="?css/gemini-scrollbar.css" rel="stylesheet">-->
    <link rel="stylesheet" href="?css/app.css">
    <link rel="stylesheet" href="?css/loading.css">
    <link rel="apple-touch-icon" sizes="57x57" href="?favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="?favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="?favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="?favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="?favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="?favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="?favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="?favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="?favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="?favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="?favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="?favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="?favicon/favicon-16x16.png">
    <link rel="manifest" href="?favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#2C2F33">
    <meta name="msapplication-TileImage" content="?favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#2C2F33">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="navbar shadow">
            <navbar-items v-bind:user="user"></navbar-items>
            <hr>
        </div>
        <div id="content">
            <h1 v-bind:page="page" v-if="!page" style="position: relative; top: 100px; color: #99aab5;">Home</h1>
            <giftron-dashboard v-bind:page="page" v-if="page == '#dashboard'"></giftron-dashboard>
            <h1 v-bind:page="page" v-if="page == '#staff'" style="position: relative; top: 100px; color: #99aab5;">Staff</h1>
            <h1 v-bind:page="page" v-if="page == '#notifications'" style="position: relative; top: 100px; color: #99aab5;">Notifications</h1>
            <h1 v-bind:page="page" v-if="page == '#servers'" style="position: relative; top: 100px; color: #99aab5;">Servers</h1>
        </div>
    </main>
    <script src="?js/app.js"></script>
</body>

</html>